<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952534648040-6hiusoj9bdnf0g8m3012a62vrlt08dkg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952534648040-6hiusoj9bdnf0g8m3012a62vrlt08dkg</string>
	<key>API_KEY</key>
	<string>AIzaSyC5WXG9d2tFN25rsZLgsGpJsTjcO9O3PG0</string>
	<key>GCM_SENDER_ID</key>
	<string>952534648040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.twitter</string>
	<key>PROJECT_ID</key>
	<string>udemy-chat-1ba10</string>
	<key>STORAGE_BUCKET</key>
	<string>udemy-chat-1ba10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952534648040:ios:d44d70d65e53126c2cf55d</string>
</dict>
</plist>